/*
 * jQuery Nivo Slider v2.3
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
  position:relative;
}

.nivoSlider img {
  position:absolute;
  top:0px;
  left:0px;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  border:0;
  padding:0;
  margin:0;
  z-index:60;
  display:none;
}

/* The slices in the Slider */
.nivo-slice {
  display:block;
  position:absolute;
  z-index:50;
  height:100%;
}

/* Caption styles */
.nivo-caption {
  position:absolute;
  left:0px;
  bottom:0px;
  background:#000;
  color:#fff;
  opacity:0.8; /* Overridden by captionOpacity setting */
  width:100%;
  z-index:89;
}

.nivo-caption p {
  padding:5px;
  margin:0;
}

.nivo-caption a {
  display:inline !important;
}

.nivo-html-caption {
  display:none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav {
  bottom: -52px;
  height: 19px;
  line-height: 19px;
  position: absolute;
  width: 100%;
}

.nivo-directionNav a {
  cursor: pointer;
  display: block;
  height: 19px;
  text-indent: -9999px;
  width: 10px;
  z-index: 99;
}

a.nivo-prevNav {
  background: url('../images/css/icon-arrow-left.png') 0 0 no-repeat;
  float: left;
  margin-left: 220px;
}

a.nivo-nextNav {
  background: url('../images/css/icon-arrow-right.png') 0 0 no-repeat;
  float: right;
  margin-right: 220px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.nivo-controlNav a.active {
  font-weight: bold;
}

#slider .nivo-controlNav {
  margin: 0 auto;
  text-align: center;
  padding-top: 477px;
  width: 513px;
}

#slider .nivo-controlNav img {
  border: 1px solid #242424;
  display: inline;
  margin-right: 19px;
  position: relative;
}

#slider .nivo-controlNav .nivo-control:last-child img {
  margin: 0;
}

